@use "../css/buttons.scss";
@use "../css/colors.scss";

.Weather {
    height: 100%;
    flex-grow: 1;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .top-left {
        display: flex;
        align-items: center;
        font-size: xx-large;

        @media only screen and (max-width: 500px) {
            font-size: x-large;
        }
    }

    .icon-button {
        @include buttons.iconButton;
    }
}
